<h3>Post Form</h3>

<%= form_for(@post) do |f|%><%# knows we need PUT b/c it knows that we're dealing with pre-existing records%>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br><%#passing in attribute as symbol tells form what model attribute to associate with%>
  
  <label>Post description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>

